---
import Layout from "../components/layout.astro"
import Section from "../components/section.astro"
import { SEO } from "astro-seo"
---

<Layout>
    <Section fullWidth id="hero" class="bg-slate-400">Hero</Section>
    <Section id="section-1" fullHeight class="bg-slate-600"
        >Ceci est la section 1</Section
    >
    <Section
        id="section-2"
        title="Ceci est un titre de section"
        class="bg-slate-500"
    >
        Ceci est la section 2
    </Section>
</Layout>
