---
import Blob from "../components/blob.astro"
import Chat from "../components/chat.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Alexandre Peter | Développeur Web freelance basé à Strasbourg
		</title>
		<link rel="stylesheet" href="https://use.typekit.net/upt5xjk.css" />
	</head>
	<body>
		<div>
			<h1>Alexandre Peter</h1>
			<h2>Freelance Graphic & Web Developper</h2>
		</div>
		<Blob />
		<div>Site en construction</div>
		<Chat />
	</body>
</html>

<style>
	body {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		font-family: "proxima-nova", sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}
	h1 {
		font-size: 1.8rem;
		font-weight: bold;
	}
</style>
