---

---

<header
    class="sticky m-5 mx-[10] flex h-20 w-full max-w-7xl items-center justify-between rounded-full bg-slate-800/50 px-10 backdrop-blur-2xl"
>
    <div>Brand</div>
    <div>Menu</div>
    <div>Icons</div>
    <div>Hamburger</div>
</header>
