---
interface Props {
    fullHeight?: boolean
    fullWidth?: boolean
    noPadding?: boolean
    title?: string
    id?: string
    class?: string
}

const { title, id, fullHeight, fullWidth, noPadding } = Astro.props
---

<section
    class:list={[
        fullHeight && "min-h-screen",
        fullWidth ? "w-full" : "mx-auto max-w-7xl",
        !noPadding && "px-10 py-20",
        Astro.props.class,
    ]}
    id={id}
>
    {title && <h2>{title}</h2>}
    <slot />
</section>
